header {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 20em; */
}

.hero-banner h1 {
    font-size: 2.5em;
    width: 22ch;
    color: white;
}

.hero-banner p {
    color: white;
    width: 64ch;
    padding-top: 1em;
    padding-bottom: 20em;
}