.sponsors-partners .container {
    text-align: center;

}

.sponsors-partners h2 {
    font-size: 3.5em;
    color: #B0825C;
    padding-top: 1em;
}

.sponsors-partners p {
    padding-top: 1.5em;
    padding-bottom: 2.5em;
    font-size: 1.2em;
    color: #9B9395;
}

.sponsors-partners img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.sponsors-partners .images {
    display: flex;
    justify-content: center;
    gap: 5em;
    /* padding: 2em; */
}

.sponsors-partners .background {
    background: #DDD;
    padding: 3em;
    border-radius: 50%;
}