article {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 7em;
    margin-bottom: 7em;
}

h1, h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
    font-style: oblique;
}

p, ul, li {
    font-size: 14px;
}

.ul-square {
    list-style: square;
}

.ul-disc {
    list-style: disc;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.ul-empty {
    list-style: circle;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}